html, body {
  height: 100%;
  min-width: 1024px;
  margin: 5px;
  padding: 0px;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Arial", Helvetica, sans-serif;
}

$fore_color: rgba(0, 0, 0, 0.5);

/*Default all links to white and no underline - toggle differently as required*/
a {
  text-decoration: none;
  color: white;
}

#wrapper {
  margin: auto;
  width: 98%;
  min-height: 100%;
  border-radius: 5px 5px 0px 0px;
  color: white;
}

.content {
  margin-top: 30px;
  padding-top: 20px;
  background-color: $fore_color;
  border-radius: 10px 10px 0 0;
}

#header {
  border-radius: 20px 20px 5px 5px;
  margin-bottom: 5px;
  background-color: $fore_color;
  height: 150px;
  padding: 10px;
  padding: 10px 10%;

  #titleblock {
    color: white;
    font-size: 15pt;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 500%;
  }

  .logo {
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    width: 100px;
    height: 100px;
  }

  #right {
    width: 25%;
    float: right;

    .profile {
      width: 25%;
      margin: auto;
    }

    svg {
      width: 100%;
      clear: both;
      padding-right: 10px;
    }
  }

  #menu {
    width: 100%;
    text-align: left;

    .left {
      text-align: right;
      float: left;
      padding-right: 5%;
    }

    .right {
      float: right;
      padding-left: 5%;
    }

    ul li {
      a {
        width: 45%;
        font-weight: 500;
      }

      display: block;
      vertical-align: bottom;
      list-style-type: none;
    }
  }
}

#error_message {
  color: black;
  font-style: italic;
  margin-bottom: 10px;
}

$search_bar_width: 50%;
$button_height: 30px;
$button_color: rgba(0, 170, 0, 0.7);
$dark_color: rgba(0, 0, 51, 0.7);

/*Home Page Specific*/
.suggestion_holder {
  z-index: 1;
  left: 0;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 10px 10px;
  padding-left: 3px;
  padding-top: 3px;
  display: block;
  margin: auto;
  text-align: left;
  color: #0cc;

  li {
    list-style-type: none;
    padding: 2px;
  }

  li:hover {
    list-style-type: none;
    padding: 2px;
    color: #fff
  }
}

#home_page_forms {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;

  form {
    background-color: $fore_color;
    padding: 10px;
    border-radius: 10px;
  }

  input[type='text'] {
    color: #FFF;
    text-align: center;
    background-color: $fore_color;
    border: none;
    border-radius: 20px;
    height: $button_height;
    width: 100%;
  }

  input[type='button'] {
    width: 60%;
    background-color: $button_color;
    border: solid #000;
    border-radius: 10px;
    height: $button_height;
    margin-left: 10px;
  }

  .left {
    width: 80%;
    text-align: left;
    height: $button_height;
    float: left;
  }
  .right {
    height: $button_height;
    float: left;
    width: 19%;
  }
}

#location_map {
  width: 80%;
  margin: auto;
  text-align: center;
  display: block;
  height: 400px;
}

.map, .map a {
  color: black;
}

/*Results page */
#results_map {
  padding-top: 10px;
  margin: auto;
  width: 100%;
  height: 400px;
}

.view_place {
  background-color: $button_color;
  text-align: center;
  border-radius: 10px;
}

#no_results {
  background-color: $fore_color;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  a {
    text-decoration: underline;
  }
}

#result_table {
  width: 100%;
  border-collapse: collapse;
  background-color: $fore_color;
}

th {
  height: 40px;
  background-color: $dark_color;
}

td {
  height: 25px;
  text-align: center;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid white;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*Item Specific Page */
#reviews {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 170, 0, 0.7);
  border-radius: 10px 10px 0 0;

  #add_review {
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    margin: auto;
    input[type='text'], textarea {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      width: 80%;
    }
    input[type='range'] {
      width: 80%;
    }

    button {
      background-color: red;
      width: 80%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-color: rgba(0, 170, 0, 1);

    }
  }

  .review {
    background-color: grey;
  }

  .profile_pict {
    width: 40%;
    float: left;
    margin-bottom: 10px;

    svg {
      border-radius: 50%;
      width: 100%;
    }
  }

  .person_info {
    padding-top: 30px;
    padding-left: 10%;
    width: 50%;
    float: right;
    text-align: left;
  }

  .left {
    width: 30%;
    float: left;
  }

  .right {
    width: 70%;
    float: right;
  }

  .reviews ::after {
    content: "TEST";
    background-color: red;
    width: 100%;
    display: block;
    clear: both;
  }
}

.location_details {
  width: 100%;
  text-align: center;
}

#location_name {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
}

#street_address {
  margin-bottom: 5px;
  text-align: center;
  font-size: 35px;
}

#searchContent {
  padding-top: 125px;
  margin-left: 37.5%;
  color: white;
  font-size: 2em;
}

/*Login page */
.login_form {
  width: 60%;
  margin: auto;

  .tag {
    width: 30%;
    display: block;
    float: left;
  }
  .tag, input[type='email'], input[type='password'] {
    margin-bottom: 10px;
  }

  input[type='email'], input[type='password'] {
    width: 69%;
    float: right;
  }

  button {
    background-color: red;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(0, 170, 0, 1);
  }
  p {
    text-align: center;
    display: block;
    a {
      text-decoration: underline;
    }
  }

}

/*User Registration Page Specifics*/
#user_register {
  h1 {
    text-align: center;
  }
  width: 75%;
  margin: auto;
  p, input, select {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  p {
    display: block;
    width: 50%;
    float: left;
  }
  input, select {
    float: left;
    width: 45%;
  }

  input[type='submit'] {
    background-color: red;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(0, 170, 0, 1);
  }

  input ::after, select ::after {
    clear: both;
  }

}

#user_register ::after {
  clear: both;
}

#footer {
  color: white;
  font-size: 17.5pt;
  font-style: oblique;
  height: 45px;
  border-radius: (0 0 10px 10px);
  background-color: $dark_color;
  text-align: center;
  padding: 10px;
}

/*Make the logo 100% of the container */
.logo {
  width: 100%;
}

/*A cool hack to make fluid layouts have the correct height*/
.clearfix {
  clear: both;
  display: block;
}